<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane DockWidth="208" FloatingWidth="210" FloatingHeight="686" FloatingLeft="272" FloatingTop="547">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="解决方案资源管理器" IsSelected="True" ContentId="SolutionTool" FloatingLeft="272" FloatingTop="547" FloatingWidth="210" FloatingHeight="686" CanClose="False" LastActivationTimeStamp="04/28/2018 10:38:21" PreviousContainerId="108a2805-c917-4b80-8bd9-f003232a5eed" PreviousContainerIndex="1" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="资源视图" ContentId="ResourcesTool" FloatingLeft="368" FloatingTop="546" FloatingWidth="210" FloatingHeight="686" CanClose="False" LastActivationTimeStamp="04/27/2018 16:25:58" PreviousContainerId="108a2805-c917-4b80-8bd9-f003232a5eed" PreviousContainerIndex="1" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="类视图" ContentId="ClassTool" FloatingLeft="356" FloatingTop="545" FloatingWidth="210" FloatingHeight="686" CanClose="False" LastActivationTimeStamp="04/27/2018 16:26:00" PreviousContainerId="108a2805-c917-4b80-8bd9-f003232a5eed" PreviousContainerIndex="1" />
    </LayoutAnchorablePane>
    <LayoutPanel Orientation="Vertical" DockWidth="1.47029702970297*">
      <LayoutDocumentPane />
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="232" FloatingWidth="210" FloatingHeight="686" FloatingLeft="707" FloatingTop="627">
        <LayoutAnchorablePane DockHeight="232" FloatingWidth="210" FloatingHeight="686" FloatingLeft="707" FloatingTop="627">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="输出" IsSelected="True" ContentId="OutPutTool" FloatingLeft="736" FloatingTop="558" FloatingWidth="210" FloatingHeight="686" CanClose="False" LastActivationTimeStamp="04/27/2018 16:26:07" PreviousContainerId="108a2805-c917-4b80-8bd9-f003232a5eed" PreviousContainerIndex="1" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="错误列表" ContentId="ErrorListTool" FloatingLeft="707" FloatingTop="627" FloatingWidth="210" FloatingHeight="686" CanClose="False" LastActivationTimeStamp="04/27/2018 16:26:05" PreviousContainerId="108a2805-c917-4b80-8bd9-f003232a5eed" PreviousContainerIndex="1" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePane Id="108a2805-c917-4b80-8bd9-f003232a5eed" DockWidth="378">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="文件属性" ContentId="FileStatsTool" FloatingLeft="1060" FloatingTop="852" FloatingWidth="210" FloatingHeight="686" CanClose="False" LastActivationTimeStamp="04/28/2018 10:46:33" PreviousContainerId="108a2805-c917-4b80-8bd9-f003232a5eed" PreviousContainerIndex="0" IsSelected="True" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="API测试" ContentId="APIFileTool" CanClose="False" LastActivationTimeStamp="04/28/2018 10:46:34" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>